*{
    padding: 0;
    margin: 0;
}
html {
    background-color:rgb(255, 221, 180);
}
body {
    color:black;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}
header {
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    border-bottom: 2px solid #626161;
    width: 98%;
}
